.manage-todo-list-main {
    max-width: 800px;
    margin: auto;
}

.manage-todo-list-main h3 {
    margin-top: 30px;
}

.manage-todo-list-main .small-td {
    width: 50px;
}

.manage-todo-list-main .center {
    text-align: center;
}

.alert.alert-danger {
    margin-top: 5px;
}

#delete-todo-list {
    padding: 4px 10px;
}

#delete-todo-list-form {
    float: right;
    margin-top: 1px;
}
